[project]
	description = Housekeeping utils
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Kevin Calman (KevinCalman)
[access "refs/for/refs/*"]
	read = group user/Kevin Calman (KevinCalman)
	push = group user/Kevin Calman (KevinCalman)
	label-Code-Review = -2..+2 group user/Kevin Calman (KevinCalman)
	label-Verified = -1..+1 group user/Kevin Calman (KevinCalman)
	rebase = group user/Kevin Calman (KevinCalman)
	removeReviewer = group user/Kevin Calman (KevinCalman)
	submit = group user/Kevin Calman (KevinCalman)
[access "refs/heads/*"]
	read = group user/Kevin Calman (KevinCalman)
	create = group user/Kevin Calman (KevinCalman)
	push = +force group user/Kevin Calman (KevinCalman)
	pushMerge = group user/Kevin Calman (KevinCalman)
[access "refs/tags/*"]
	push = +force group user/Kevin Calman (KevinCalman)
	pushTag = group user/Kevin Calman (KevinCalman)
	pushSignedTag = group user/Kevin Calman (KevinCalman)
